body {
	background-color: #c0ffc8;
	margin : 0px;
	padding: 0px;
}

.wrapper {
	/*max-width: 960px;*/
	width : 960px;
	margin: 0px auto;
}

.clear {
	clear : both;
}

/* =====  Стили заголовка сайта ======*/

header {
	padding: 0px;
	margin : 0px 0px 15px 0px;
	height : 300px;
	width: 100%;
	
	background-image: url("../img/background_header.jpg");
	background-repeat: no-repeat;
	background-size : cover;

	/*border-color : red;
	border-style: solid;
	border-width : 5px;*/
	
}


.cite_title {
	text-align : center;
	line-height: 1;
	font-weight : bold;
	padding: 5px;
	padding-top : 105px;
	padding-left : 10px;
	color: #FFF;
	
	height: 90%;
	width : 80%;

/*
	border-color : red;
	border-style: solid;
	border-width : 5px;
*/
}


.lab_title_main {
	font-size : 22pt;
	padding : 5px;
	letter-spacing : 0.8em; 
}


.lab_title_little {
	font-size : 16pt;
	padding : 5px;
	letter-spacing : 0.3em; 
}


/*  =====  Стили тела сайта ======*/

#heading {
	margin : 0px 0px 15px 0px;
	padding : 0px;
	height : 100%;
	width: 100%;
	
	/*border-style: solid;
	border-width : 5px;
	border-color: red;*/

}

aside {
	float: left;
	width: 250px;
	height : 100%;
}

nav {
	background-color : #FFF;
}

nav a {
	text-decoration: none;
	color : #50393B;
	font-size : 15pt;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14pt;
	padding: 10px;
	list-style-type: none;
}




.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}


div.menu_spacer {
	background-color : #c0ffc8;
	height : 10px;
	width : 100%;
	padding : 0px;
	margin : 0px;
}



.admministration_input{
	font-size : 8pt;
	padding : 5px;
	position: relative;
	min-height : 100px;
}

.admministration_input a {
	color : #50393B;
	text-decoration: none;
	position: absolute;
	bottom: 0;
}

.main_text {
	float : right;
	width : 610px;
	padding : 10px 10px 0px 10px;

	margin : 0px;
	height : 100%;
	
	border-color : #A0D4A6;
	border-style: solid;
	border-width : 15px;


}
section {
	width : 600px;
	padding-bottom: 50px;
}

/*  =====  Стили подвала ======*/
div.footer_spacer {
	height: 15px;
	width : 100%;
	padding : 0px;
	margin : 0px;
	background-color : #007F0B;

}



footer {
	padding: 5px 5px;
	margin : 5px 5px;
	
	width : 100%;
	text-align : center;
	font-weight : bold;
	font-size : 12px;
	height : 100px;

	/*border-style: solid;
	border-width : 5px;
	border-color: red;*/
}
